<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Classification</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',     filename='img/Lunglogo2.png') }}" type="image/x-icon" data-file-height="32">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/animate-3.7.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/font-awesome-4.7.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap-4.1.3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/owl-carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">

</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area">
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static',     filename='img/Lunglogo.png') }}" alt="" title="" height="52"/></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{{ url_for('homepage') }}">Home</a></li>
                        <li><a href="{{ url_for('classification') }}">Classification</a></li>
                        <li><a href="{{ url_for('detection') }}">Nodule Detection</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Lung Nodule Classification</h1>
                    <a href="{{ url_for('homepage') }}">Home</a> <span>|</span> <a href="{{ url_for('classification') }}">Classification</a>|</span> <a href="{{ url_for('detection') }}">Nodule Detection</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!--  Choice  -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Select Format of File</h2>
                    </div>
                </div>
            </div>
            <div class="button-group-area mt-40" style="text-align: center;">
                <div onclick="onOpenPNG()" class="genric-btn primary e-large">&nbsp;&nbsp;PNG&nbsp;&nbsp;</div>
                <div onclick="onOpenDICOM()" class="genric-btn primary e-large">DICOM</div>
            </div>
        </div>
    </section>

    <script>
        function onOpenPNG() {
          var x = document.getElementById("png");
          var y = document.getElementById("dicom");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
          } else {
            x.style.display = "none";
          }
        }

        function onOpenDICOM() {
          var x = document.getElementById("dicom");
          var y = document.getElementById("png");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
          } else {
            x.style.display = "none";
          }
        }
    </script>
<form name="form1" action="{{ url_for('classify') }}" method="post" enctype="multipart/form-data">
    <!-- Upload PNG Area Starts -->
    <section class="feature-area section-padding" id="png" style="display:none">
        <div class="container">


                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-lg-12">
                        <div class="module-border-wrap">
                            <div class="module" style="text-align: center;">
                                <label id="nameFile" for="file-upload" class="custom-file-upload" style="font-size:18px; cursor: pointer; margin-bottom: 0;">
                                    <i class="fa fa-cloud-upload"></i> Upload Image Here
                                </label>
                                <input type="file" id="file-upload" name="file">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="text-align: center;">
                    <div class="col-lg-6 col-md-6" style="color:black">
                        Age: <input type="text" value="None" name="age" required oninvalid="this.setCustomValidity('Please Enter the Age of Patient!')" placeholder="If you does not know the age, you can type '-' instead.">
                    </div>
                    <div class="col-lg-6 col-md-6" style="color:black; align-self: flex-end;" >
                        Gender: <input type="radio" name="gender" value="male" style="margin-left: 10%;" checked> Male
                        <input type="radio" name="gender" value="female" style="margin-left: 10%;"> Female
                    </div>
                </div>
                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-lg-12 col-md-12">
                        <input type="submit" value="Submit PNG" name="submit" class="template-btn mt-3" style="border:0px; margin-top: 5% !important; cursor:pointer">
                    </div>
                </div>


        </div>
    </section>

    <!-- Upload Dicom End -->

    <section class="feature-area section-padding" id="dicom" style="display:none">
        <div class="container">


                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-lg-12">
                        <div class="module-border-wrap">
                            <div class="module" style="text-align: center;">
                                <label id="nameFile2" for="file2" class="custom-file-upload" style="font-size:18px; cursor: pointer; margin-bottom: 0;">
                                    <i class="fa fa-cloud-upload"></i> Upload Image Here
                                </label>
                                <input type="file" id="file2" name="file2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-lg-12 col-md-12">
                        <input type="submit" value="Submit DICOM" name="submit" class="template-btn mt-3" style="border:0px; margin-top: 5% !important; cursor:pointer">
                    </div>
                </div>


        </div>
    </section>
    <!-- Upload Dicom End -->
  </form>


    <!-- Javascript -->
    <script src="{{ url_for('static',     filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static',     filename='js/vendor/bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/wow.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/owl-carousel.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/superfish.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/main.js') }}"></script>


</body>
</html>
