<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Nodule Detection</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',     filename='img/Lunglogo2.png') }}" type="image/x-icon" data-file-height="32">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/animate-3.7.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/font-awesome-4.7.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap-4.1.3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/owl-carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">

</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area">
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static',     filename='img/Lunglogo.png') }}" alt="" title="" height="52"/></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{{ url_for('homepage') }}">Home</a></li>
                        <li><a href="{{ url_for('classification') }}">Classification</a></li>
                        <li><a href="{{ url_for('detection') }}">Nodule Detection</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <h1>Lung Nodule Detection</h1>
                    <a href="{{ url_for('homepage') }}">Home</a> <span>|</span> <a href="{{ url_for('classification') }}">Classification</a> <span>|</span> <a href="{{ url_for('detection') }}">Nodule Detection</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

<form name="form1" action="{{ url_for('detectnodule') }}" method="post" enctype="multipart/form-data">
    <!-- Upload PNG Area Starts -->

    <section class="feature-area section-padding" id="dicom">
        <div class="container">
                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="module-border-wrap">
                            <div class="module" style="text-align: center;">
                                <label id="nameFile2" for="file2" class="custom-file-upload" style="font-size:18px; cursor: pointer; margin-bottom: 0;">
                                    <i class="fa fa-cloud-upload"></i> Upload Image Here
                                </label>
                                <input type="file" id="file2" name="file2" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: -webkit-center;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input type="submit" value="Submit Image" name="submit" class="template-btn mt-3" style="border:0px; margin-top: 5% !important; cursor:pointer">
                    </div>
                </div>
        </div>
    </section>
  </form>


    <!-- Javascript -->
    <script src="{{ url_for('static',     filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static',     filename='js/vendor/bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/wow.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/owl-carousel.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/superfish.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/main.js') }}"></script>


</body>
</html>
