<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Page Title -->
    <title>Eludon</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',     filename='img/Lunglogo2.png') }}" type="image/x-icon" data-file-height="32">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/animate-3.7.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/font-awesome-4.7.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap-4.1.3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/owl-carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->
    <!-- Header Area Starts -->
    <header class="header-area">
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static',     filename='img/Lunglogo.png') }}" alt="" title="" height="52"/></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{{ url_for('homepage') }}">Home</a></li>
                        <li><a href="{{ url_for('classification') }}">Classification</a></li>
                        <li><a href="{{ url_for('detection') }}">Nodule Detection</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>Using deep learning to classify nodule and non-nodule on chest X-ray image</h1>
                    <p>Nodules may be a sign of lung cancer or other lung conditions that are not cancerous. If lung nodules can be identified accurately and rapidly at an early stage, the survival rate of many patients with lung cancer can be increased by a significant percentage.</p>
                    <a href="{{ url_for('classification') }}" class="template-btn mt-3">Take classification</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Abstract Area Starts -->
    <section class="welcome-area section-padding3">
        <div class="container">
            <div class="row" style="margin-top:40px;">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img">
                        <img src="{{ url_for('static',     filename='img/bg2.jpg') }}"  alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>Abstract</h2>
                        <p class="pt-3">Detection of lung nodules on chest X-ray images commonly relies on visual observation of radiologists. However, due to a shortage of radiologists, examinations for diagnosing lung nodules remain a challenging task in Thailand.</p>
                        <p>We develop a technique for detecting lung nodule by using convolutional neural networks (CNN) to classify nodule and non-nodule on chest X-ray images. The model is implemented based on ResNet-50 architecture, which adjusts parameters to be appropriate to acquired datasets, and then incorporate age and gender in order to improve accuracy of the model. We experiment with images from NIH and JSRT datasets. Our preliminary result show that our model achieves 69.1% of F1-score on testing set. </p>
                        <a href="{{ url_for('detection') }}" class="template-btn mt-3">Nodule Detection</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Abstract Area End -->

    <!-- Dataset Area Starts -->
    <section class="feature-area section-padding" style="background: #f9f9fd;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Dataset for training a model</h2>
                        <p>Dataset is retrieved from two publicly available sources which are NIH Clinical Center and the Japanese Society of Radiological Technology(JSRT). </p>
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-lg-3 col-md-6">
                    <a href="https://www.kaggle.com/nih-chest-xrays/data" style="color: inherit;"><div class="single-feature text-center item-padding">
                        <h3>The National Institutes of Health Clinical Center</h3>
                        <p class="pt-3"> NIH dataset contains 112,120 grayscale chest X-ray images of 1024×1024 pixels in the format of PNG files that scan from more than 30,000 patients.</p>
                    </div></a>
                </div>
                <div class="col-lg-3 col-md-6" style="margin-left: 5%;">
                    <a href="http://db.jsrt.or.jp/eng.php" style="color: inherit;"><div class="single-feature text-center item-padding mt-4 mt-md-0" style="height: 100%;">
                        <h3>Japanese Society of Radiological Technology(JSRT)</h3>
                        <p class="pt-3">JSRT image dataset comprises 247 grayscale chest X-ray images of 2048 x 2048 pixels in the format of raw file.</p>
                    </div></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Dataset Area End -->

    <!-- Tools Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Tools for training a model</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="text-center item-padding">
                        <img src="{{ url_for('static',     filename='img/pyCharm.png') }}" alt="" style="width:80px">
                        <h3 style="margin-top:10px">PyCharm</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="text-center item-padding mt-4 mt-md-0">
                        <img src="{{ url_for('static',     filename='img/Colab.png') }}" alt="" style="width:80px">
                        <h3 style="margin-top:10px">Google Colaboratory</h3>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6">
                    <div class="text-center item-padding mt-4 mt-lg-0">
                        <img src="{{ url_for('static',     filename='img/Excel.png') }}" alt="" style="width:80px">
                        <h3 style="margin-top:10px">Microsoft Excel</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tools Area End -->
    <!-- Model Area Start -->
    <section class="feature-area section-padding" style="background: #f9f9fd;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Nodule Classification Model Architecture</h2>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-12" style="padding-left:-5%">
                    <img src="{{ url_for('static',     filename='img/model.png') }}" alt="" style="width:100%;height:auto">
                </div>
            </div>
        </div>
    </section>
    <!-- Model Area End -->
    <!-- Confusion Matrix Area Start -->
    <section class="feature-area section-padding" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Confusion Matrix Result</h2><br>
                    </div>
                </div>
            </div>

            <div class="row">
                 <div class="col-4" style="text-align: center">
                     <h3>Training Dataset:</h3> 8356
                 </div>
                <div class="col-4" style="text-align: center">
                    <h3>Testing Dataset:</h3> 1040
                 </div>
                <div class="col-4" style="text-align: center">
                    <h3>Validation Dataset:</h3> 1040
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12" id = "graph">
                        <script>
                            var graphs = {{graph | safe}};
                            Plotly.plot('graph', graphs, {} );
                            window.addEventListener('resize', function(){Plotly.Plots.resize('graph');});
                        </script>
                </div>
            </div>
        </div>


        <div class="row">
             <div class="col-3" style="text-align: center">
                 <h3>Specificity</h3>
             </div>
            <div class="col-3" style="text-align: center">
                <h3>Sensitivity</h3>
             </div>
            <div class="col-3" style="text-align: center">
                <h3>Precision</h3>
             </div>
            <div class="col-3" style="text-align: center">
                <h3>Accuracy</h3>
             </div>
        </div>
        <div class="row">
             <div class="col-3" style="text-align: center">
                 <h3>96.28%</h3>
             </div>
            <div class="col-3" style="text-align: center">
                <h3>96.75%</h3>
             </div>
            <div class="col-3" style="text-align: center">
                <h3>86.79%</h3>
             </div>
            <div class="col-3" style="text-align: center">
                <h3>90.96%</h3>
             </div>
        </div>

    </section>
    <!-- Confusion Matrix  Area End -->


    <!-- Javascript -->

    <script src="{{ url_for('static',     filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static',     filename='js/vendor/bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/wow.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/owl-carousel.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/superfish.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/main.js') }}"></script>
</body>
</html>
