<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Page Title -->
    <title>Result</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',     filename='img/Lunglogo2.png') }}" type="image/x-icon" data-file-height="32">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/animate-3.7.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/font-awesome-4.7.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap-4.1.3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/owl-carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/jquery.datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">

</head>
<body>
<!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area">
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static',     filename='img/Lunglogo.png') }}" alt="" title="" height="52"/></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{{ url_for('homepage') }}">Home</a></li>
                        <li><a href="{{ url_for('classification') }}">Classification</a></li>
                        <li><a href="{{ url_for('detection') }}">Nodule Detection</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Nodule Detection Result</h1>
                    <a href="{{ url_for('homepage') }}">Home</a> <span>|</span> <a href="{{ url_for('classification') }}">Classification</a>|</span> <a href="{{ url_for('detection') }}">Nodule Detection</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3" style="margin-top: 100px;">
                    <div class="section-top text-center">
                        <h2>Result of Nodule Detection</h2>
                    </div>
                </div>
            </div>
            <div class="section-top-border">
                <div class="row">
                    <div class="col-6">
                        <h3 style="color:#293a4d; font-weight:bold; text-align: center;">Original Image</h3><br>
                    </div>
                    {{show | safe}}<br>
                </div>
                <div class="row">
                    <div class="col-6" style="text-align: center;">
                        <img src= "data:image/PNG;base64,{{originalImg}}" alt="" class="img-fluid" height="350" width="350">
                    </div>
                    <div class="col-6" style="text-align: center;">
                        <img src= "data:image/PNG;base64,{{detectionImg}}" alt="" class="img-fluid" height="350" width="350">
                    </div>

                </div>
            </div>
        </div>
    </div>


     <!-- Javascript -->
    <script src="{{ url_for('static',     filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static',     filename='js/vendor/bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/wow.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/owl-carousel.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/vendor/superfish.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/main.js') }}"></script>



</body>
</html>