*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container1{
    width: 100%;
    height: 100vh;
    background: #152238;
}

.menu ul{
    display: inline-flex;
    margin: 50px !important
}

.menu ul li{
    list-style: none;
    margin: 0 20px !important;
    color: #b2b1b1 ;
    cursor: pointer;
    align-self: center;
}

.logo img{
    width: 40px;
}

.active{
    color: #19dafa !important;
 }

 .banner{
    width: 80%;
    height: 70%;
    top: 20%;
    padding-left: 130 px;
    position: absolute;
    color: #fff;

 }

 .name{
    width: 50%;
 }

  .name h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;

 }

 .name p{
    font-size: 15px;
    width: 650px;
    position: relative;
    margin: 30px 0px 30px 40px;
    line-height: 25px;
    color:#919191;
 }

 .picture{
    width: 100%;
    float: right;
 }

 .picture img{
    width: 100%;
 }