img{
    vertical-align: middle;
    border-style: none;
    width: auto;
    height: inherit;
}

#show_bg_2 {

    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(21, 34, 56, 0.73)),
    url('../img/Bg1.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}